<launch>
    <!-- ROS to Unity Bridge -->
    <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch" />

    <!-- KINOVA and USB Camera Startup -->
    <include file="$(find kinova_vision)/launch/startup.launch" />
    <!-- <node name="image_cam" pkg="usb_cam" type="kinova_cam.py" output="screen" /> -->
</launch>